---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<script
		src="https://kit.fontawesome.com/869ea98b1d.js"
		crossorigin="anonymous"></script>

		<title>Portafolio Web</title>
	</head>
	<body class="bg-[#0f0f14] text-white">
		<Navbar />

		<main class="min-h-screen">
		</main>

		<Footer />
	</body>
</html>
